@import "tailwindcss";
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: #f6fbea;
    --color-primary-100: #eaf5d2;
    --color-primary-200: #d5ecaa;
    --color-primary-300: #b9de78;
    --color-primary-400: #95c940;
    --color-primary-500: #7fb230;
    --color-primary-600: #618e22;
    --color-primary-700: #4b6d1e;
    --color-primary-800: #3e571d;
    --color-primary-900: #354a1d;
}

@source "../node_modules/flowbite-svelte/dist";

:root {
    --navbar-height: 3.5rem;
}

.navbar {
    position: relative;
    z-index: 9999;
    height: var(--navbar-height);
}

.map {
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    position: absolute;
    top: var(--navbar-height);
    left: 0;
}

.project-menuz {
    z-index: 9999;
    position: absolute;
    left: 100px;
    top: 100px;
}
